NEXT_PUBLIC_SITE_URL=https://showyourfit.vercel.app
NEXT_PUBLIC_DOWNLOAD_URL=https://play.google.com/store/apps/details?id=io.vallab.showyourfit
NEXT_PUBLIC_ANDROID_APP_URL=https://play.google.com/store/apps/details?id=io.vallab.showyourfit
NEXT_PUBLIC_IOS_APP_URL=
NEXT_PUBLIC_INSTAGRAM_URL=https://www.instagram.com/showyourfit
NEXT_PUBLIC_SUPPORT_EMAIL=support@showyour.fit
